<a href="https://colab.research.google.com/github/KimJeongmin22/hufs/blob/main/03_02_%EC%96%B8%EC%96%B4%EB%B6%84%EC%84%9D_%ED%95%9C%EA%B5%AD%EC%96%B4_%EC%8B%AC%ED%99%94_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 환경 준비

In [ ]:
# konlpy(한국어형태소분석기)를 실행하기
import konlpy

In [ ]:
# konlpy 설치하기 ## https://data1000.tistory.com/33
!pip3 install jpype1==0.7.0
!pip3 install konlpy

Collecting jpype1==0.7.0
  Downloading https://files.pythonhosted.org/packages/07/09/e19ce27d41d4f66d73ac5b6c6a188c51b506f56c7bfbe6c1491db2d15995/JPype1-0.7.0-cp36-cp36m-manylinux2010_x86_64.whl (2.7MB)
     |████████████████████████████████| 2.7MB 9.6MB/s
Installing collected packages: jpype1
Successfully installed jpype1-0.7.0
Collecting konlpy
  Downloading https://files.pythonhosted.org/packages/85/0e/f385566fec837c0b83f216b2da65db9997b35dd675e107752005b7d392b1/konlpy-0.5.2-py2.py3-none-any.whl (19.4MB)
     |████████████████████████████████| 19.4MB 1.3MB/s
Collecting beautifulsoup4==4.6.0
  Downloading https://files.pythonhosted.org/packages/9e/d4/10f46e5cfac773e22707237bfcd51bbffeaf0a576b0a847ec7ab15bd7ace/beautifulsoup4-4.6.0-py3-none-any.whl (86kB)
     |████████████████████████████████| 92kB 8.5MB/s
Collecting tweepy>=3.7.0
  Downloading https://files.pythonhosted.org/packages/bb/7c/99d51f80f3b77b107ebae2634108717362c059a41384a1810d13e2429a81/tweepy-3.9.0-py2.py3-none-any.whl
Requirement already satisfied: JPype1>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from konlpy) (0.7.0)
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.6/dist-packages (from konlpy) (1.18.5)
Collecting colorama
  Downloading https://files.pythonhosted.org/packages/44/98/5b86278fbbf250d239ae0ecb724f8572af1c91f4a11edf4d36a206189440/colorama-0.4.4-py2.py3-none-any.whl
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.6/dist-packages (from konlpy) (4.2.6)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tweepy>=3.7.0->konlpy) (1.3.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from tweepy>=3.7.0->konlpy) (1.15.0)
Requirement already satisfied: requests[socks]>=2.11.1 in /usr/local/lib/python3.6/dist-packages (from tweepy>=3.7.0->konlpy) (2.23.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->tweepy>=3.7.0->konlpy) (3.1.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (2020.6.20)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (1.7.1)
Installing collected packages: beautifulsoup4, tweepy, colorama, konlpy
  Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
  Found existing installation: tweepy 3.6.0
    Uninstalling tweepy-3.6.0:
      Successfully uninstalled tweepy-3.6.0
Successfully installed beautifulsoup4-4.6.0 colorama-0.4.4 konlpy-0.5.2 tweepy-3.9.0

In [ ]:
# konlpy를 실행하기
import konlpy

In [ ]:
## pandas을 실행하기, 단 실행 별명을 pd로
import pandas as pd

# 데이터 불러오기

In [ ]:
# 구글 드라이브 연결을 위한 기본 세팅 
!pip install -U -q PyDrive
 
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
## 문서 ID로 실제 파일 불러오기
# 뮬란 댓글모음
## https://drive.google.com/file/d/1z2I5IZgkslysfZuoO0ZebdIhK4UTr3Uo/view?usp=sharing

rawdata_downloaded = drive.CreateFile({'id': '1z2I5IZgkslysfZuoO0ZebdIhK4UTr3Uo'})
rawdata_downloaded.GetContentFile('rawdata.txt')

In [ ]:
# "rawdata.txt" 파일의 내용을 "원본데이터" 변수로 불러오기
원본데이터 = pd.read_csv('rawdata.txt', sep="\t")

In [ ]:
# "원본데이터" 변수 내용 확인하기
원본데이터

      Unnamed: 0            nickname  ...              time  watch_movie
0              1      다람다람(kky0****)  ...  2020-09-17 20:14          관람객
1              2  Ataraxia(jisa****)  ...   2020-09-18 1:33          관람객
2              3      Vinn(kyoo****)  ...   2020-09-19 2:31          관람객
3              4            ghks****  ...  2020-09-17 12:43            0
4              5            calm****  ...  2020-09-18 14:54          관람객
...          ...                 ...  ...               ...          ...
4515        4516     Chris(jing****)  ...  2020-09-21 14:29            0
4516        4517       클로이(reqq****)  ...  2020-09-17 12:29            0
4517        4518       토갱이(shak****)  ...   2020-09-20 1:43            0
4518        4519     단팥빵극호(21in****)  ...  2020-09-17 10:14            0
4519        4520       해적왕(kjw9****)  ...  2020-09-17 10:05            0

[4520 rows x 8 columns]

# 형태소 분석

In [12]:
# konlpy(한국어형태소분석기) 중에서 Okt 실행하기
from konlpy.tag import Okt
okt = Okt()

In [13]:
# "원본데이터"를 대상으로 "okt"를 사용해서 형태소 분석하기
저장공간  = []
for index, row in 원본데이터.iterrows(): # 원본데이터의 컬럼(열)을 불러와서 반복할 준비!
    대상텍스트 = row[3] # 분석에서 사용할 텍스트 정보가 있는 열을 지정해준다. 주의! python은 0부터 시작한다!
    분류 = row[4] # 분석에서 사용할 분류 정보가 있는 열을 지정해준다. 주의! python은 0부터 시작한다!
    형태소 = list(okt.pos(대상텍스트)) # okt의 pos 기능을 활용해서 대상 텍스트를 형태소 분리한다.
    형태소종합 = pd.DataFrame.from_records(형태소) # 형태소에 저장된 내용을 데이터프레임 형태로 해서 형태소종합으로 저장한다.
    형태소종합['type'] = 분류 # 형태소종합에 분류정보를 추가한다.
    형태소종합['count'] = 1   # 형태소종합에 카운트정보를 추가한다.   
    저장공간.append(형태소종합) # 형태소종합의 내용을 종합하여 저장한다.

TypeError: ignored

In [ ]:
# "형태소" 변수의 저장 내용 확인
형태소

NameError: ignored

In [ ]:
# "형태소종합" 변수의 저장 내용 확인
형태소종합

          0            1 type  count
0        존경         Noun  문재인      1
1        하고         Josa  문재인      1
2        사랑         Noun  문재인      1
3        하는         Verb  문재인      1
4        국민         Noun  문재인      1
...     ...          ...  ...    ...
1198      일         Noun  문재인      1
1199  하겠습니다         Verb  문재인      1
1200      .  Punctuation  문재인      1
1201  감사합니다         Verb  문재인      1
1202      .  Punctuation  문재인      1

[1203 rows x 4 columns]

In [ ]:
# "저장공간" 변수의 저장 내용 확인
저장공간

[          0            1 type  count
 0        존경         Noun  노무현      1
 1        하는         Verb  노무현      1
 2        국민         Noun  노무현      1
 3       여러분         Noun  노무현      1
 4         .  Punctuation  노무현      1
 ...     ...          ...  ...    ...
 2223     맹세         Noun  노무현      1
 2224    합니다         Verb  노무현      1
 2225      .  Punctuation  노무현      1
 2226  감사합니다         Verb  노무현      1
 2227      .  Punctuation  노무현      1

 [2228 rows x 4 columns],           0            1 type  count
 0        존경         Noun  이명박      1
 1        하는         Verb  이명박      1
 2        국민         Noun  이명박      1
 3       여러분         Noun  이명박      1
 4         !  Punctuation  이명박      1
 ...     ...          ...  ...    ...
 3586      것         Noun  이명박      1
 3587    입니다    Adjective  이명박      1
 3588      .  Punctuation  이명박      1
 3589  감사합니다         Verb  이명박      1
 3590      .  Punctuation  이명박      1

 [3591 rows x 4 columns],           0            1 type  count
 0        희망         Noun  박근혜      1
 1         의         Josa  박근혜      1
 2         새         Noun  박근혜      1
 3        시대         Noun  박근혜      1
 4         를         Josa  박근혜      1
 ...     ...          ...  ...    ...
 2237    만들어         Verb  박근혜      1
 2238    갑시다         Verb  박근혜      1
 2239      .  Punctuation  박근혜      1
 2240  감사합니다         Verb  박근혜      1
 2241      .  Punctuation  박근혜      1

 [2242 rows x 4 columns],           0            1 type  count
 0        존경         Noun  문재인      1
 1        하고         Josa  문재인      1
 2        사랑         Noun  문재인      1
 3        하는         Verb  문재인      1
 4        국민         Noun  문재인      1
 ...     ...          ...  ...    ...
 1198      일         Noun  문재인      1
 1199  하겠습니다         Verb  문재인      1
 1200      .  Punctuation  문재인      1
 1201  감사합니다         Verb  문재인      1
 1202      .  Punctuation  문재인      1

 [1203 rows x 4 columns]]

In [ ]:
# "저장공간" 변수의 내용을 데이터프레임 형식으로 변환해서 "분석통합" 변수에 저장한다.
분석통합 = pd.concat(저장공간)

In [ ]:
# "분석통합" 변수의 저장 내용 확인
분석통합

          0            1 type  count
0        존경         Noun  노무현      1
1        하는         Verb  노무현      1
2        국민         Noun  노무현      1
3       여러분         Noun  노무현      1
4         .  Punctuation  노무현      1
...     ...          ...  ...    ...
1198      일         Noun  문재인      1
1199  하겠습니다         Verb  문재인      1
1200      .  Punctuation  문재인      1
1201  감사합니다         Verb  문재인      1
1202      .  Punctuation  문재인      1

[9264 rows x 4 columns]

In [ ]:
# "분석통합" 변수의 컬럼(열) 이름 변경
분석통합.columns = ["형태소", "품사", "분류", "카운트"]

In [ ]:
# "분석통합" 변수의 저장 내용 확인
분석통합

        형태소           품사   분류  카운트
0        존경         Noun  노무현    1
1        하는         Verb  노무현    1
2        국민         Noun  노무현    1
3       여러분         Noun  노무현    1
4         .  Punctuation  노무현    1
...     ...          ...  ...  ...
1198      일         Noun  문재인    1
1199  하겠습니다         Verb  문재인    1
1200      .  Punctuation  문재인    1
1201  감사합니다         Verb  문재인    1
1202      .  Punctuation  문재인    1

[9264 rows x 4 columns]

In [ ]:
# "분석통합" 변수의 내용을 형태소, 품사, 분류가 같은 것을 합치고, 카운트의 총합을 구해서 "그룹통합" 변수에 저장한다.
그룹통합 = 분석통합.groupby(['형태소', '품사', "분류"])['카운트'].sum()

In [ ]:
# "그룹통합" 변수의 저장 내용 확인
그룹통합

형태소     품사           분류
!       Punctuation  박근혜     9
                     이명박     9
'       Punctuation  노무현    10
(       Punctuation  이명박     4
)       Punctuation  이명박     4
                            ..
힘       Noun         이명박     5
힘들었던    Adjective    문재인     1
힘쓰겠습니다  Verb         이명박     2
힘쓸      Verb         이명박     1
힘차게     Adjective    이명박     1
Name: 카운트, Length: 3285, dtype: int64

In [ ]:
# "그룹통합" 변수의 내용을 데이터프레임 형식으로 변환해서 "그룹통합" 변수에 저장한다.
그룹통합 = pd.DataFrame(그룹통합)

In [ ]:
# "그룹통합" 변수의 저장 내용 확인
그룹통합

                        카운트
형태소    품사          분류
!      Punctuation 박근혜    9
                   이명박    9
'      Punctuation 노무현   10
(      Punctuation 이명박    4
)      Punctuation 이명박    4
...                     ...
힘      Noun        이명박    5
힘들었던   Adjective   문재인    1
힘쓰겠습니다 Verb        이명박    2
힘쓸     Verb        이명박    1
힘차게    Adjective   이명박    1

[3285 rows x 1 columns]

In [ ]:
# "그룹통합" 변수의 내용을 "형태소분석결과.csv" 파일로 저장한다.
# header는 컬럼(열) 정보의 포함 여부이다.
# encoding은 문자코드를 선택하는 것이다. python에서는 기본적으로 utf-8(유니코드)를 사용한다.

그룹통합.to_csv('형태소분석결과.csv', header='true', encoding='utf-8')